<?xml version="1.0"?>
<robot name="robotic_arm">
  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <origin xyz="0 0 0.0025" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint >

  <link name="base_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="-0.04 0.04 -0.0025" rpy="1.570 0.0 0.0"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.04 0.04 -0.0025" rpy="1.570 0.0 0.0"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  

  <link name="revolve_motor">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
        <origin xyz="0.025 -0.016 0.020" rpy="3.1415 0 3.1415"/>
        <geometry>
          <mesh filename="package://robotic_arm/meshes/AX-12A.STL" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
    <visual>
      <origin xyz="0.025 -0.016 0.020" rpy="3.1415 0 3.1415"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/AX-12A.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="revolvemotor_to_baseplate" type="fixed">
    <parent link="base_link"/>
    <child link="revolve_motor"/>
    <origin xyz="0 0 0.0225"/>
  </joint>
  
  <!--joint name="plate_to_revolvemotor" type="fixed">
    <parent link="revolve_motor"/>
    <child link="turntable"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="turntable">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
        <origin xyz="-0.2 0.2 0.2" rpy="1.570 0 0"/>
        <geometry>
          <mesh filename="package://robotic_arm/meshes/turntable.STL" scale="0.01 0.01 0.01"/>
        </geometry>
    </collision>
    <visual>
      <origin rpy="1.570 0 0" xyz="-0.2 0.2 0.2"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/turntable.STL" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>



  <link name="humerus_motor">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
        <origin xyz="0.25 -1 2" rpy="1.570 0 3.1415"/>
        <geometry>
          <mesh filename="package://robotic_arm/meshes/AX-12A.STL" scale="0.01 0.01 0.01"/>
        </geometry>
    </collision>
    <visual>
      <origin xyz="0.25 -1 2" rpy="1.570 0 3.1415"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/AX-12A.STL" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

    <joint name="turntable_to_humerusmotor" type="fixed">
    <parent link="turntable"/>
    <child link="humerus_motor"/>
    <origin xyz="0 0 0"/>
  </joint>


  <link name="humerus">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
        <origin xyz="250 300 398" rpy="0 -3.1415 1.570"/>
        <geometry>
          <mesh filename="package://robotic_arm/meshes/humerus.STL" scale="0.01 0.01 0.01"/>
        </geometry>
    </collision>
    <visual>
      <origin rpy="0 -3.1415 1.570" xyz="250 300 398"/>
      <geometry>
        <mesh filename="package://robotic_arm/meshes/humerus.STL" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="turntable_to_humerus_joint" type="fixed">
    <parent link="turntable"/>
    <child link="humerus"/>
    <origin xyz="0 0 0"/>
  </joint-->


</robot>

