<launch>

  <arg name="model" default="$(find robotic_arm)/urdf/robotic_arm.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find robotic_arm)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false"-->

  <!-- Vehicle pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Start Gazebo with the default settings -->
  <include file="$(find robotic_arm)/launch/start_gazebo.launch">
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robotic_arm)/urdf/robotic_arm.urdf -urdf -model robotic_arm" output="screen"/>

</launch>
